<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">Užduočių sąrašas</div>
            <div class="card-body">
                <ul class="list-group" >
                    <li class="list-group-item" *ngFor="let item of list; let i=index">
                       {{i+1}}. {{ item.name }}, svarbumas: {{item.importance}} <button class="btn btn-danger float-end" (click)="removeTask(i)">Ištrinti</button>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Pridėti naują užduotį</div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="" class="form-label">Užduotis: </label>
                    <input type="text" class="form-control" #newTask >
                </div>
                <div class="form-control">
                    <label for="" class="form-label">Svarba: </label>
                    <select class="form-control" #select>
                        <option value="skubu">Skubu</option>
                        <option value="neskubu">Neskubu</option>
                        <option value="rutininis">Rutininis</option>
                        <option value="ypač skubus">Ypač skubus</option>
                    </select>
                </div>
                <button class="btn btn-success" (click)="addNewTask(newTask, select)">Pridėti</button>
            </div>
        </div>
    </div>
</div>
